body{
	padding: 3rem 0 !important;
    overflow: visible;
}

.popup-open Body{
    overflow: hidden;
}

@media screen and (max-width: 48em) {
    thead{
        display: none;
    }

    th,  td {
        display: block;
    }

	tr td{
		display: block;
		text-align: start;
	}

	td[data-th]:before  {
        content: attr(data-th);
		font-weight: bold;
		margin-right: 10px;
    }

}